#mainlink{
    font-size: 25px;
    color: white;
    
}
#mainNav{
    background-color: #161925;
}

#references{
    font-size: 20px;
    color: white;
}

.hc{
    background-color:#23395B
}
.ban{
    color: white;
}
.me{
    
}